* {
    font-family: Arial, Helvetica, sans-serif;
}
.info{
    background-color: rgb(48, 108, 161) !important;
}
.row{
    margin: auto auto;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgFace{
    width: 25px;
    height: 25px;
}
.imgTwi{
    width: 25px;
    height: 25px;
}
.imgInsta{
    width: 25px;
    height: 25px;
}
.imgYout{
    width: 35px;
    height: 20px;
}
.imgWhats{
    width: 25px;
    height: 25px;
}
.sylalogo{
    width: 190px;
    height: 57px;
    position: absolute;
    top: 10px;
    left: 180px;
}
.Soc{
    flex: 1px;
    text-align: center;
}
.mill{
    flex: 3px;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.butts{
    flex: 3px;
}
.donButt{
    border: none;
    text-align: center;
    color: green;
    font-size: 15px;
}
button.donButt{
    padding: 0px 5px 0px 5px;
    align-items: center;
    transition-duration: 0.4ms;
}
button.donButt:hover{
    color:rgb(38, 238, 38);
    cursor: pointer;
}
.dropbtn {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px 10px 5px 10px;
    margin-top: 15px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 520;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-size: 12px;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 25px;
}
.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: rgb(48, 108, 161);
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: rgb(48, 108, 161);
    color: white;
}
.dropbtn:hover {
    background-color: rgb(48, 108, 161);
    color: white;
}
.RotiBank{
    margin-top: 25px;
    height: 60%;
    width: 100%;
    box-shadow: 5px 2px 10px black;
}
div.slider{
    text-align: center;
}
marquee.marq-slide{
    width: 70%;
    direction: ltr;
    text-align: center;
    background-color: rgb(48, 108, 180);
    margin-top: 10px;
    color: white;
    box-shadow: 0px 2px 7px black;
}
div.intro-duc{
    background-color: rgba(247, 247, 247, 0.651);
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin-top: 15px;
    
}
#intro-duc{
    font-size: 40px;
}
div.para-graphs{
    align-items: center;
    margin: 0px 20% 0 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;
}
p.intro{
    font-size: 15px;
    color: rgb(129, 129, 129);
}
section.funfact-help{
    background-color: #2754e8;
    text-align: center;
    padding: 50px;
}
.daily-dast{
    margin-left: 1em;
}
.result-help{
    height: 40px;
    margin: 10px auto;
}
#result-help{
    font-weight: 500;
    color: white;
    font-size: 3em;
}
#catego-help{
    font-weight: 400;
    color: white;
}
.content-what-are-we{
    background-color: rgba(236, 236, 236, 0.356);
    padding-bottom: 60px;
    padding-top: 20px;
}
.what-are-we{
    text-align: center;
    margin-top: 50px;
}
#what-are-we{
    font-weight: 600;
}
.help-box{
    text-align: center;
    background-color: white;
    box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.219);
    padding: 20px 30px 20px 30px;
    margin-top: 50px;
}
.online-help-box{
    font-weight: 540;
    font-size: 25px;
    padding: 20px;
    margin-top: 20px;
    color: #316dc3;
}
.sec-content{
    margin-top: 50px;
}
#mission-upcoming{
    color:#316dc3;
}
#dash-dash{
    position: absolute;
    top: 25px;
}
.projects{
    margin-top: 30px;
    margin-left: -10px;
    background-color: rgba(214, 214, 214, 0.315);
    border: 0.7px solid rgba(199, 199, 199, 0.315);
    display: flex;
    padding:10px -5px 10px -5px ;
}
.hep-med{
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    color: #316dc3;
}
#hep-med{
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.upcoming-events{
    color:#316dc3;
}
#dash-dash1{
    position: absolute;
    top: 25px;
}
.side-info{
    display: flex;
    flex-direction: row-reverse;
}
.more-detailing{
    margin-top: 10px;
    color: grey;
}
.img-gallery{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
#footer{
    background-color: #25272e;
    margin-top: 100px;
    padding: 20px;
    padding-top: 50px;
}
.ulcontact{
    list-style: none;
    text-align: left;
    padding: 5px 0px 5px 0px;
}
#ulcontact{
    list-style: none;
    display: inline-flex;
    text-align: left;
    padding: 5px 5px 5px 5px;
}
#scrollup{
    background-color: rgba(122, 122, 122, 0.103);
    color: rgba(255, 255, 255, 0.692);
    text-decoration: none;
    font-size: 40px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 0px 15px 0px 15px;
}